# Import changes (N1) :

In [20]:
import pandas as pd
import numpy as np
import csv
import re
from collections import Counter
    
df = pd.read_csv("data/export_n1.csv", encoding ='ISO-8859-1')

# Exploring Categorical Data:

### Exploring Fatal

In [21]:
df["fatal_(y/n)"].value_counts()

fatal_(y/n)
N          4283
Y          1381
UNKNOWN      65
 N            7
M             1
2017          1
N             1
y             1
Name: count, dtype: int64

### Exploring Sex

In [22]:
df["sex_"].unique()

array(['F', 'M', nan, 'M ', 'lli', 'N', '.'], dtype=object)

### Exploring Type

In [23]:
df["type"].value_counts()

type
Unprovoked      4580
Provoked         573
Invalid          537
Sea Disaster     231
Boating          201
Boat             137
Questionable       2
Boatomg            1
Name: count, dtype: int64

## For complexe categories

In [57]:
def texto_csv(column):
    
    #name of the document: as column_name_column.csv
    path = f'data/column_{column}.csv'
    
    """ Hay que quitar los vacios primero - lo he sacado de la funcion
    por no tranformar la tabla aqui """
   
    #2. We write every colum as a new line in the .csv
    non_empty_values = [str(i) for i in df[column]]
    
    with open(path, mode='w', newline='') as file:
        writer = csv.writer(file)
        writer.writerows([[value] for value in non_empty_values]) 
        
    print(f'Column successfully exported to {path}')

In [58]:
template_re_words = ['a', 'an', 'the', 'and', 'or', 'but', 'in', 'on', 'for', 'with', 'at', 'by', 'of', 'about', 'to', 'from',
    'up', 'down', 'over', 'under', 'above', 'below', 'after', 'before', 'during', 'while', 'since', 'because',
    'as', 'though', 'if', 'whether', 'no', 'not', 'than', 'until', 'unless', 'without', 'out', 'off', 'of', 
    'into']

In [59]:
def palabras_clave(file, numb, re_words):
    
    """Function that returns the {numb} words more 
    repeated in a text inside a csv {file}"""
    
    path = f"data/{file}"
    
    text = open(path,'r').read().split("\n")
    
    lines = [i.strip().lower() for i in text]
    
    #remove all special caracters 
    clean_lines = []
    for entry in lines:
        a = "".join(char for char in entry if char.isalpha() or char.isspace())
        clean_lines.append(a)
    
    # separate line in list of words 
    words_lists = list(map(lambda x:x.split(" "),clean_lines))
    
    # list of all words separated 
    flat_words = [ word.strip() for list_ in words_lists for word in list_  if word != "" and word not in re_words]
    
    # use library counter 
    word_counts = Counter(flat_words)
    
    most_common_words = word_counts.most_common(numb)

    return most_common_words

### Explore Species:

In [60]:
df["species_"].fillna("empty", inplace = True)

In [61]:
texto_csv("species_")

Column successfully exported to data/column_species_.csv

In [53]:
shark_words = ['a', 'an', 'the', 'and', 'or', 'but', 'in', 'on', 'for', 'with', 'at', 'by', 'of', 'about', 'to', 'from',
    'up', 'down', 'over', 'under', 'above', 'below', 'after', 'before', 'during', 'while', 'since', 'because',
    'as', 'though', 'if', 'whether', 'no', 'not', 'than', 'until', 'unless', 'without', 'out', 'off', 'of', 
    'into', 'empty', 'm','involvement','shark', 'sharks','confirmed','prior','death', 'was','invalid',
    'questionable','small', 'lb','involve', 'unconfirmed','possibly']

In [62]:
palabras_clave("column_species_.csv",5,shark_words) # Change number for more words

[('white', 638),
 ('tiger', 264),
 ('bull', 188),
 ('blacktip', 101),
 ('nurse', 97)]

### Explore Activity:

In [66]:
df["activity"].fillna("empty", inplace = True)

In [67]:
texto_csv("activity")

Column successfully exported to data/column_activity.csv

In [68]:
activity_words = ['a', 'an', 'the', 'and', 'or', 'but', 'in', 'on', 'for', 'with', 'at', 'by', 'of', 'about', 'to', 'from',
    'up', 'down', 'over', 'under', 'above', 'below', 'after', 'before', 'during', 'while', 'since', 'because',
    'as', 'though', 'if', 'whether', 'no', 'not', 'than', 'until', 'unless', 'without', 'out', 'off', 'of', 
    'into', 'empty', 'water', 'shark', 'attempting', 'net', 'raft', 'pearl', 'abalone', 'shore', 
    'surface', 'sharks', 'his', 'sea', 'men', 'he', 'were','was', 'ton', 'near', 'trochus','have']

In [69]:
palabras_clave("column_activity.csv",5,activity_words)

[('swimming', 1115),
 ('surfing', 1103),
 ('fishing', 735),
 ('diving', 550),
 ('spearfishing', 430)]

### Explore Injuries:

In [70]:
df["injury"].fillna("empty", inplace = True)

In [71]:
texto_csv("injury")

Column successfully exported to data/column_injury.csv

In [72]:
injury_words = ['a', 'an', 'the', 'and', 'or', 'but', 'in', 'on', 'for', 'with', 'at', 'by', 'of', 'about', 'to', 'from',
    'up', 'down', 'over', 'under', 'above', 'below', 'after', 'before', 'during', 'while', 'since', 'because',
    'as', 'though', 'if', 'whether', 'no', 'not', 'than', 'until', 'unless', 'without', 'out', 'off', 'of', 
    'into', 'shark', 'provoked', 'incident', 'calf', 'sharks', 'his', 'occupants', 'ocupant', 'wounds', 'puncture', 'survived',
    'was', 'recovered', 'hooked', 'he', 'were', 'when', 'remains', 'fatal', 'him','it','m']

In [73]:
palabras_clave("column_injury.csv",5,injury_words)

[('bitten', 1556),
 ('injury', 967),
 ('leg', 885),
 ('right', 845),
 ('left', 841)]

# Transform:

### Tranform Fatal:

In [74]:
#1.Replace Nan values with string(for later transformations)
df["fatal_(y/n)"] = df["fatal_(y/n)"].fillna("empty_value")

#2.Remove trailing and leading spaces and set to upper case
df["fatal_(y/n)"] = df["fatal_(y/n)"].str.strip().str.upper()

#3.Replace/transform incorrect data
df["fatal_(y/n)"].replace({"M" : np.nan, "UNKNOWN" : np.nan, "2017" : np.nan, "EMPTY_VALUE" : np.nan},inplace=True)

In [75]:
df["fatal_(y/n)"].value_counts()

fatal_(y/n)
N    4291
Y    1382
Name: count, dtype: int64

### Tranform Sex:

In [76]:
#1.Replace Nan values with string(for later transformations)
df["sex_"].fillna("empty_value", inplace = True)

#2.Remove trailing and leading spaces and set to upper case
df["sex_"] = df["sex_"].str.upper().str.strip()

#3.Replace/transform incorrect data
df["sex_"].replace({"N" : np.nan, "LLI" : np.nan, "." : np.nan, "EMPTY_VALUE" : np.nan},inplace=True)

In [77]:
df["sex_"].value_counts()

sex_
M    5086
F     637
Name: count, dtype: int64

### Tranform Type:

In [78]:
df["type"].replace({"Boat" : "Boating", "Boatomg" : "Boating"},inplace=True)

In [79]:
df["type"].value_counts()

type
Unprovoked      4580
Provoked         573
Invalid          537
Boating          339
Sea Disaster     231
Questionable       2
Name: count, dtype: int64

In [80]:
"""REVISAR ESTO PORQUE NO SE SI TIENE SENTIDO TANTAS CATEGORIAS 
PARA DECIR PROVOCADO/NO PROVOCADO

QUIZA PODEMOS JUSTIFICAR QUE SI ES DESASTE NO PROVOCADO Y TODO ESO"""

'REVISAR ESTO PORQUE NO SE SI TIENE SENTIDO TANTAS CATEGORIAS \nPARA DECIR PROVOCADO/NO PROVOCADO\n\nQUIZA PODEMOS JUSTIFICAR QUE SI ES DESASTE NO PROVOCADO Y TODO ESO'

In [81]:
def assign_grop(description, category_dict, Other):
    
    for pattern, category in category_dict.items():
        if re.search(pattern, description, flags=re.IGNORECASE):
            return category
    return Other

### Tranform Species:

In [82]:
species_dict = {r'[Cc]ooper|[Bb]ronze|[Ww]haler|[Nn]arrowtooth' : "Cooper Shark",
                r'[Ww]hitetip' : "Whitetip Shark",
                r'[Ss]and(?:\s*[Tt]iger)?' : "Sand Shark",
                r'[Ww]hite' : "White Shark",
                r'[tT]iger': "Tiger Shark",
                r'[bB]ull|[Zz]ambe[sz]i' : "Bull Shark",
                r'[bB]lacktip' : "Blacktip Shark",
                r'[Nn]urse' : "Nurse Shark",
                r'[sS]hortfin|[Mm]ako' : "Mako Shark",
                r'[bB]lue' : "Blue Shark",
                r'[Ww]obbegong' : "Wobbegong Shark",
                r'[hH]ammer': "Hammer Shark",
                r'[rR]agged': "Ragged Shark",
                r'[lL]emon': "Lemon Shark",
                r'[cC]aribbean': "Caribean Shark",
                r'[Ss]evengill': "Sevengill Shark",
                r'(?:[nN]o|[Uu]n|[Nn]ot)\s*(?:[Cc]onfirmed|[iI]dentify)' : "Unidentify"}

In [83]:
df['shark_specie'] = df['species_'].apply(assign_grop, category_dict=species_dict, Other="Unidentify")

In [84]:
df["shark_specie"].value_counts()

shark_specie
Unidentify         4499
White Shark         633
Tiger Shark         261
Bull Shark          207
Blacktip Shark       99
Nurse Shark          96
Cooper Shark         79
Mako Shark           54
Blue Shark           54
Wobbegong Shark      50
Sand Shark           49
Hammer Shark         48
Ragged Shark         43
Lemon Shark          34
Whitetip Shark       31
Caribean Shark       16
Sevengill Shark      13
Name: count, dtype: int64

### Tranform Activity:

In [85]:
activity_dict = {r'[Ss]urf|[Bb]oard|[Bb]oogi|[Pp]add|[Ss]ki]' : "Board sports",
r'[sS]wim|[Bb]ath' : "Swimming",
r'[Dd]iving|[Ss]pear': "Diving",
r'[Ff]ishing' : "Fishing",
r'[kK]ayak|[Cc]anoe' : "Kayaking",
r'[Ff]eed' :"Feeding Sharks",
r'[Oo]verboard|[fF]ell]' : "Fall overboard" ,
r'[Ww]ading|[Ww]alk' : "Wading",
r'[Cc]apsize|[Bb]oat|[Ss]hip|[Ww]reck|[Dd]inghy|[Tt]orpedboat': "Boat incincidents"}

In [86]:
df['activity_group'] = df['activity'].apply(assign_grop, category_dict=activity_dict, Other="Other")

In [87]:
df["activity_group"].value_counts()

activity_group
Board sports         1577
Other                1335
Swimming             1276
Diving                947
Fishing               685
Boat incincidents     191
Wading                182
Kayaking               58
Feeding Sharks         15
Name: count, dtype: int64

### Tranform Injuries:

In [88]:
sever_dict = {r'([Mm]inor|[Nn]o|[Nn]on)\s*[Ii]njur' : "Minor or No injuries",
r'[Aa]mputat|[Ll]acerat|[bB]it|[Ss]ever' : "Amputations or Lacerations"}

#r'(?:death|disappeared|killed|body drowned|died|none surviv|not surviv)' :"Not survived"

In [89]:
body_dict = {r'[Ll]eg|[Ff]oot|[Kk]nee|[Aa]nkle|[Tt]high'  : "Lower extremities",
r'[fF]inger|[hH]and|[sS]houlder|[eE]lbow|[aA]rm|[Ww]rist' : "Upper extremities",
r'[Tt]orso|[Aa]bdomen|[Cc]hest|[Bb]ack|[Hh]ip' : "Torso"}

In [90]:
df['severity_group'] = df['injury'].apply(assign_grop, category_dict=sever_dict, Other="Undetermined")

In [91]:
df['severity_group'].value_counts()

severity_group
Amputations or Lacerations    3164
Undetermined                  2140
Minor or No injuries           962
Name: count, dtype: int64

In [92]:
df['body_group'] = df['injury'].apply(assign_grop, category_dict=body_dict , Other="Undetermined")

In [93]:
df['body_group'].value_counts()

body_group
Undetermined         2908
Lower extremities    2274
Upper extremities     942
Torso                 142
Name: count, dtype: int64

In [96]:
def export_to_csv(data_frame, file_name):
    """
    Export a DataFrame to a CSV file.

    Parameters:
        - data_frame: pandas DataFrame
        - file_name: str, name of the CSV file (without the extension)
    """
    file_path = f"data/{file_name}.csv"
    
    data_frame.to_csv(file_path, index=False)
    print(f"DataFrame successfully exported to {file_path}")

In [98]:
export_to_csv(df, "export_n2")

DataFrame successfully exported to data/export_n2.csv